{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Courses</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Digital Girls Courses</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                {% for c in courselist %}
                                <div class="col-md-6 col-xl-3">
                                    <div class="card user-card">
                                        <div class="card-block">
                                            <a href="{% url 'questionList' c.id %}"><h5 class="m-b-15">{{ c.name }}</h5></a>
                                            <span class="text-muted"><label class="label text-white f-12 f-w-400" style="background: #f801de;">{{ c.id}}</label>Digital Girls Course</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock %}
