{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">Qidiruv . . .</h5>
                                            </div>
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="{% url 'search' %}">Qidiruv natijasi</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card user-profile-list">
                                        <div class="card-body">
                                            <div class="dt-responsive table-responsive">
                                                <table id="user-list-table" class="table nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Phone Number</th>
                                                            <th>Course</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for q in search_result %}
                                                        <tr>
                                                            <td>
                                                                <div class="d-inline-block align-middle">
                                                                    <div class="d-inline-block">
                                                                        <a href="{{ q.id }}"><h6 class="m-b-0">{{ q.candidate.name }}</h6></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>{{ q.candidate.phone_number }}</td>
                                                            <td>{{ q.candidate.course }}</td>
                                                            <td>
                                                                <div class="overlay-edit">
                                                                    <a href="{% url 'searchResult' q.id %}" class="btn btn-icon btn-success"><i class="feather icon-eye"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}